@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Use Session Value</title>

</head>

<body>

    UserName: @HttpContextAccessor.HttpContext.Session.GetString("email")

</body>

</html>