<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
    <div style="text-align: center;background-image: url('file:///C:/Users/emili/source/repos/Projet-Festival/Projet-Festival-Normandie/Projet Festival Normandie/FestivalWEB/img/Background.jpg');
        font-size: 45px;color:white">
        <b> Festival de Normandie</b>
    </div>
    <div>
        <pre style="font-family:Centaur">
               Bonjour , 
                  Tu viens tout juste de créer un compte, 
  
                  <a href="@ViewBag.ConfirmationLink">clique ici</a> pour qu'on puisse vérifier ton adresse mail ;)
         </pre>
    </div>
</body>
</html>