
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
    <div style="text-align: center;background-color: lightpink;font-size: 45px">
        <b> Festival de Normandie</b>
    </div>
    <div>
        <pre>
               Bonjour , 
                  Tu viens tout juste de créer un compte, clique  
                  <a href="@ViewBag.ConfirmationLink">ici</a>
                     pour qu'on puisse vérifier ton adresse mail ;)
         </pre>
    </div>
</body>
</html>