<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
    <div style="text-align: center;
        font-size: 45px;color:white">
        <b> Festival de Normandie</b>
    </div>
    <div>
        <pre style="font-family:'Open Sans'">
               Bonjour , 

                 Voici un récapitulatif de tes achats:
                        
                       Nom : 
                       Prenom : 
                       Date de naissance : 
         </pre>
    </div>

</body>
</html>