@using FestivalAPI.Models
@using wpfFestival.ControllersAPI
@model FestivalAPI.Models.Tarif
@{
    List<Festival> festival = API.Instance.GetFestival().Result.ToList();
}

@{
    ViewData["Title"] = "Edit";
}
<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>Modifier ce tarif</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TarifID" />
            <div class="form-group">
                <label asp-for="NomTarif" class="control-label"></label>
                <input asp-for="NomTarif" class="form-control" />
                <span asp-validation-for="NomTarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixTarif" class="control-label"></label>
                <input asp-for="PrixTarif" class="form-control" />
                <span asp-validation-for="PrixTarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantiteTotal" class="control-label"></label>
                <input asp-for="QuantiteTotal" class="form-control" />
                <span asp-validation-for="QuantiteTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionTarif" class="control-label"></label>
                <textarea asp-for="DescriptionTarif" class="form-control"></textarea>
                <span asp-validation-for="DescriptionTarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FestivalID" class="control-label"></label>
                <select asp-for="FestivalID" class="form-control" asp-items="ViewBag.FestivalID"></select>
                <span asp-validation-for="FestivalID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste.</a>
</div>
