@model FestivalAPI.Models.Hebergement

@{
    ViewData["Title"] = "Create";
}
<p><br /></p>
<p><br /></p>
<p><br /></p>
<h1>Create</h1>

<h4>Hebergement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeHebergement" class="control-label"></label>
                <input asp-for="TypeHebergement" class="form-control" />
                <span asp-validation-for="TypeHebergement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LienHebergement" class="control-label"></label>
                <input asp-for="LienHebergement" class="form-control" />
                <span asp-validation-for="LienHebergement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FestivalID" class="control-label"></label>
                <select asp-for="FestivalID" class="form-control" asp-items="ViewBag.FestivalID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
