@model FestivalWEB.ViewModels.ArtisteViewModel

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Ajouter un artiste </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nom_Artiste" class="control-label"></label>
                            <input asp-for="Nom_Artiste" class="form-control" />
                            <span asp-validation-for="Nom_Artiste" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Style_Artiste" class="control-label">Style musical</label>
                            <select asp-for="Style_Artiste" class="form-control">
                                <option value="Rap">Rap</option>
                                <option value="Rock">Rock</option>
                                <option value="Hard rock">Hard rock</option>
                                <option value="Variete">Varieté</option>
                                <option value="Electro">Electro</option>
                                <option value="Pop">Pop</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Reggae">Reggae</option>
                                <option value="Blues">Blues</option>
                                <option value="Country">Country</option>
                            </select>
                            <span asp-validation-for="Style_Artiste" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Descriptif_Artiste" class="control-label"></label>
                            <textarea asp-for="Descriptif_Artiste" class="form-control"></textarea>
                            <span asp-validation-for="Descriptif_Artiste" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Pays_Artiste" class="control-label"></label>
                            <input asp-for="Pays_Artiste" class="form-control" />
                            <span asp-validation-for="Pays_Artiste" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SceneID" class="control-label"></label>
                            <select asp-for="SceneID" class="form-control" asp-items="ViewBag.SceneID"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ExtraitMusical_Artiste" class="control-label"></label>
                            <input asp-for="ExtraitMusical_Artiste" class="form-control" />
                            <span asp-validation-for="ExtraitMusical_Artiste" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UrlImage" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="UrlImage" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="UrlImage" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Ajouter !" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Retour à la liste</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>










